@use 'base/color';

@import url(https://fonts.googleapis.com/css?family=Roboto:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;1,100;1,500;1,700;);

body {
  margin: 0px;
  font-size: 16px;
  font-family: "Roboto", 'Open Sans', Sans;
  background-color: color.$white;
  box-sizing: border-box;
  color: color.$black;

  &.modal-open {
    overflow: hidden;
  }
}

h1 {
  // font-family: "Helvetica", 'Open Sans', Sans;
  margin: 0px auto;
  padding: 20px 0px;
  font-size: 9rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  background-color: color.$white;
  color: color.$white;
  text-shadow:
    -1px 1px 0px color.$primary,
    -1px 2px 0px color.$primary,
    -2px 3px 0px color.$primary,
    -2px 4px 0px color.$primary,
    -3px 5px 0px color.$primary,
    -3px 6px 0px color.$primary,
    -4px 7px 0px color.$primary,
    -4px 8px 0px color.$primary,
    -5px 9px 0px color.$primary,
    -5px 10px 0px color.$primary,
    -6px 11px 0px color.$primary,
    -7px 12px 0px color.$primary,
    -8px 13px 0px color.$shadow,
    -10px 14px 0px color.$shadow,
    -12px 15px 0px color.$shadow,
    -14px 16px 0px color.$shadow,
    -16px 17px 0px color.$shadow,
    -18px 18px 0px color.$shadow,
    -20px 19px 0px color.$shadow,
    -22px 20px 0px color.$shadow,
    -24px 21px 0px color.$shadow,
    -26px 22px 0px color.$shadow,
    -28px 23px 0px color.$shadow,
    -30px 24px 0px color.$shadow,
    -32px 25px 0px color.$shadow,
    -34px 26px 0px color.$shadow,
    -36px 27px 0px color.$shadow;

    @media (min-width: 1000px) {
        font-size: 14rem;
    }
}

h2 {
  // font-family: "Roboto", 'Open Sans', Sans;
}
