$white: #fbd0d0;

$primary-v-light: #e6b3b3;
$primary-light: #db7070;
$primary: #f25a5a;
$primary-dark: #d41111;
$primary-v-dark: #bd0f0f;

$text: $white;
$text-white: #f6fcf8;
$text-soft: #fbd0d0cc;
$text-dark: #760a0a;
