$white: #fcfaf4;
$shadow: #ffd4df;

$primary-v-light: #ffc4d4;
$primary-light: #ffa3b8;
$primary: #ff82a0;
$primary-dark: #e56d89;
$primary-v-dark: #cc5873;

$black: #444;
$gray: #555;

$text: $white;
$text-white: #fcfaf4;
$text-soft: #ffb8c9cc;
$text-dark: #8c2040;
 