$white: #fcfaf4;
$shadow: #fbdbd0;

$primary-v-light: #f9c9b9;
$primary-light: #db7070;
$primary: #ed4a49;
$primary-dark: #ea2e2e;
$primary-v-dark: #c91d1d;

$black: #444;
$gray: #777;

$text: $white;
$text-white: #fcfaf4;
$text-soft: #fbd0d0cc;
$text-dark: #760a0a;
 