@use 'base/color';
@use 'mixins/neumorph';
/* GRID */

.record-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: center;
  grid-auto-flow: dense;
  max-width: 90%;
}

.main-box {
  display: flex;
  justify-content: center;
	align-items: center;
  margin: 5px;
  width: 100px;
  height: 100px;

  h2, h3, h4, p {
    margin: 0px;
  }

  @media (min-width: 1000px) {
    width: 200px;
    height: 200px;

    &:hover {
      cursor: pointer;

      .img{
        opacity: 0.5;
    	}

      #record-info {
    	  opacity: 1;
    	}
    }
  }
}

.img {
  background-size: cover;
	display: block;
  margin: auto;
  width: 100%;
  transition: .25s ease;
  box-shadow: 3px 3px 6px #997a00, -3px -3px 15px #e6b800;
  border-radius: 2px;
}

#record-info {
  display: none;

  @media (min-width: 1000px) {
    display: flex;
    position: absolute;
    background-color: color.$mustard;
    color: color.$text;
    width: 200px;
    height: 200px;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    border-radius: 2px;
    transition: .25s;
    overflow: hidden;
  }

  h2, h3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  h3 {
    font-weight: 200;
  }
}

#main-box-title {
  font-weight: bold;
}
