@use 'base/color';
@use 'mixins/neumorph';
/* GRID */

.record-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: center;
  grid-auto-flow: dense;

  @media (min-width: 1000px) {
    max-width: 90%;
  }
}

.main-box {
  display: flex;
  justify-content: center;
	align-items: center;
  margin: 1%;
  width: 30%;
  height: 30%;

  h2, h3, h4, p {
    margin: 0px;
  }

  @media (min-width: 1000px) {
    width: 200px;
    height: 200px;
    margin: 5px;

    &:hover {
      cursor: pointer;

      .img{
        opacity: 0.5;
        transition: opacity .25s;
    	}

      #record-info {
    	  opacity: 1;
        transition: opacity .25s;
    	}
    }
  }
}

.img {
  background-size: cover;
	display: block;
  margin: auto;
  width: 100%;
  transition: opacity .25s;
  box-shadow: -6px 4px 4px color.$shadow;
  border-radius: 3px;
}

#record-info {
  display: none;

  @media (min-width: 1000px) {
    display: flex;
    position: absolute;
    background-color: #222;
    border: 3px solid #333;
    border-radius: 50%;
    box-sizing: border-box;
    color: color.$text;
    width: 195px;
    height: 195px;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    transition: opacity .25s;
    overflow: hidden;
  }

  h2, h3 {
    color: color.$white;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-weight: 200;
    font-size: 1rem;
  }
}

#main-box-title {
  font-weight: bold;
}
