@use 'base/color';
@use 'mixins/neumorph';

/* LIST */
.record-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3px 0px;
  width: 90%;
  max-width: 600px;
  cursor: pointer;
  @include neumorph.neumorph;
  box-shadow: 3px 3px 6px #806600, -1px -1px 6px #e6b800aa;
  padding: 7px;
  background-color: color.$grey;

  @media (min-width: 545px) {
    justify-content: center;
    padding: 4px;
    border-radius: 3px;
  }

  @media (min-width: 1000px) {
    max-width: 1300px;
    padding: 0px;

  }

  &:hover, &:active {
    @include neumorph.neumorph-hover;
    box-shadow: 5px 5px 5px 3px #816700;
    transform: scale(1.01, 1.01);
    width: 90.5%;
  }

  &:active {
    // @include neumorph.neumorph-active;
  }

  h4, p {
    margin: 1px auto;
    padding: 0px;
    color: color.$text;
    text-align: center;

    @media (min-width: 1200px) {
      margin: 0px;
    }
  }

  .list-artist {
    font-weight: 700;
  }
}
