@use '../base/color' as *;
@use '../mixins/neumorph';

/* LIST */
.record-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3px 0px;
  width: 90%;
  max-width: 600px;
  cursor: pointer;
  @include neumorph.neumorph;
  box-shadow: -6px 4px 4px $shadow;
  padding: 7px;
  background-color: $shadow;

  @media (min-width: 545px) {
    justify-content: center;
    padding: 4px;
    border-radius: 3px;
  }

  @media (min-width: 1000px) {
    max-width: 1300px;
    padding: 0px;

  }

  &:hover, &:active {
    @include neumorph.neumorph-hover;
    box-shadow: -5px 5px 5px 3px $primary-v-light;
    transform: scale(1.01, 1.01);
    width: 90.5%;
  }

  &:active {
    // @include neumorph.neumorph-active;
  }

  h4, p {
    margin: 1px auto;
    padding: 0px;
    // color: $text-dark;
    text-align: center;

    @media (min-width: 1200px) {
      margin: 0px;
    }
  }
}
