@use 'base/color';
@use 'mixins/neumorph';

/* LIST */
.record-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 7px 0px;
  width: 90%;
  max-width: 600px;
  cursor: pointer;
  @include neumorph.neumorph;
  background-color: color.$grey;

  @media (min-width: 1000px) {
    width: 600px;
  }

  &:hover {
    @include neumorph.neumorph-hover;
  }

  &:active {
    @include neumorph.neumorph-active;
  }

  h4, p {
    margin: 3px 0px;
    padding: 0px;
    color: color.$text;
  }
}
