@use 'base/color';
@use 'mixins/neumorph';
/* MODAL */

.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */
	background-color: #756f57dd;

  &:hover {
    cursor: pointer;
  }

  .modal-table {
  	display: flex;
  	justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;

    .modal-cell {
      margin: 0px 15px;
      padding: 15px;
    	display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      @media (min-width: 1000px) {
      	display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        align-items: center;
      }

      .icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        color: color.$grey;
        z-index: 2;
        border-radius: 50%;
        opacity: 1;
        transition: opacity .25s;

        &:hover {
          opacity: .8;
          transition: opacity .25s;
        }

        &.icon-left {
          left: -65px;
          @media (max-width: 1000px) {
            display: none;
          }
        }

        &.icon-right {
          right: -65px;
          @media (max-width: 1000px) {
            display: none;
          }

          i {
            margin-left: 10px;
          }
        }

        .fa-caret-left, .fa-caret-right {
          text-align: center;
          font-size: 3rem;
        }

        &.icon-close {
          top: -60px;
          right: -45px;

          @media (max-width: 1000px) {
						top: -25px;
            right: 0;
          }

          .fa-times {
            font-size: 2rem;
          }
        }
      }

      /* IMAGE */
      img {
        width: 85vw;
        border-radius: 3px;

        @media (min-width: 1000px) {
          width: 500px;
        }
      }

      /* MODAL TEXT */
      .caption {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 -75px 0;
        padding: 20px;
        width: 80vw;
        height: 80vw;
        overflow-y: auto;
        background-color: #222;
        border: 5px solid #333;
        border-radius: 50%;
        z-index: -1;
        
        @media (min-width: 1000px) {
          margin: 0 0 0 -100px;
          width: 489px;
          height: 489px;
        }

        h2, h3, p { 
          display: block;
          text-align: center;
          margin: 3px 0px 4px;
        	color: color.$grey;
          
          @media (min-width: 1000px) {
            max-width: 60%;
          }
        }

        // Album
        h2 {
          font-size: 1.5rem;

          @media (min-width: 1000px) {
            font-size: 2rem;
          }
        }

        // Artist
        h3 {
          font-weight: 400;
          font-size: 1.3rem;
          line-height: 1.4;
        }

        .record__year {
          opacity: 0.8;
          font-size: 1.1rem;
          font-weight: 600;
        }

        .record__genre {
          // font-weight: 500;
          font-size: .8rem;
          text-transform: uppercase;
          letter-spacing: 1.2px;
        }

        .record__speed {
          opacity: 0.5;
          font-size: .9rem;
          // font-weight: bold;
          // text-transform: uppercase;
        }
      }
    }
  }
}
