@use "../base/color" as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding: 0;
  color: $black;

  .previous,
  .next {
    .material-symbols-rounded {
      font-size: 3rem;
      vertical-align: middle;
      color: #ff1312;
      filter: url(#goo-md);
    }
  }

  li {
    display: inline;
    margin: 0 0.4em;
    cursor: pointer;
    font-size: 1.5rem;

    &.selected {
      font-weight: 800;
    }
  }
}
