@import url(http://fonts.googleapis.com/css?family=Montserrat:400,800|Open+Sans:400,800);

html {
  font-family: Sans;
  font-size: 16px;
  font-family: 'Open Sans';
}

h1 {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 4em;
  font-weight: 800;
  color: #f8f8f8;
  text-shadow:
    -1px 1px 0px #444,
    -1px 2px 0px #444,
    -2px 3px 0px #444,
    -2px 4px 0px #444,
    -3px 5px 0px #444,
    -3px 6px 0px #444,
    -4px 7px 0px #444,
    -4px 8px 0px #444,
    -5px 9px 0px #444,
    -5px 10px 0px #444,
    -6px 11px 0px #444,
    -7px 12px 0px #444;
}

input{
  margin-left: 0px;
  padding-left: 0px;
  color: #222;
}

.functions-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  padding: 10px;
  color: #222;
}

.functions-box select {
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 5px;
  color: #222;
  background-color: rgba(85,85,85,0.2);
  border: none;
}

.filter-box {
  padding-right: 10px;
}

.input-box {
  background: none;
  margin-right: 10px;
  border: 0px;
  border-bottom: 1px solid;
}

.record-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 250px;
  grid-gap: 10px;
	width: 100%;
  justify-content: center;
  grid-auto-flow: dense;
}

.main-box {
  display: flex;
  justify-content: center;
	align-items: center;
  width: 250px;
  height: 250px;
}

.main-box h2, .main-box h3, .main-box h4, .main-box p {
  margin: 0px;
}


@media only screen and (min-width: 1000px) {
	.main-box:hover .img{
    opacity: 0.5;
	}

	.main-box:hover #record-info {
	  opacity: 1;
	}
}

.img {
  background-size: cover;
	display: block;
  margin: auto;
  transition: .35s ease;
}

#record-info {
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
	color: #f8f8f8;
  width: 250px;
  height: 250px;
  opacity: 0;
	flex-direction: column;
	justify-content: center;
  margin: 0px;
  /* margin-left: 0px; */
  transition: .35s ease;
  overflow: hidden;
}

#record-info h2, #record-info h3 {
  padding-left: 5px;
  padding-right: 5px;
}

#record-info h3 {
  font-weight: 200;
}

#main-box-title {
  font-weight: bold;
}

/* The Modal (background) */
.modal {
	/* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */

	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.94); /* Black w/ opacity */
}

.modal-table {
	display: flex;
	justify-content: center;
  align-items: center;
  align-content: center;
}

.modal-cell {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Modal Content (Image) */
.modal-content {
  margin-bottom: 5px;
  height: 30vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

.caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  max-height: 50vh;
  width: 80vw;
  max-width: 550px;
  overflow-y: auto;
}

.caption p {
  display: block;
	/* margin-bottom: 5px; */
	text-align: left;
	color: #f8f8f8;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .caption {
	animation-name: zoom;
	animation-duration: 0.5s;
}

@keyframes zoom {
	from {opacity: 0;}
	to {opacity: 1;}
}
