@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800|Open+Sans:400,800);

body {
  font-size: 16px;
  font-family: 'Montserrat', 'Open Sans', Sans;
  background-color: #f8f8f8;
}

h1 {
  margin: 0px auto;
  font-size: 5em;
  font-weight: 800;
  text-align: center;
  color: #fcfcfc;
  text-shadow:
    -1px 1px 0px #444,
    -1px 2px 0px #444,
    -2px 3px 0px #444,
    -2px 4px 0px #444,
    -3px 5px 0px #444,
    -3px 6px 0px #444,
    -4px 7px 0px #444,
    -4px 8px 0px #444,
    -5px 9px 0px #444,
    -5px 10px 0px #444,
    -6px 11px 0px #444,
    -7px 12px 0px #444;
}

@media only screen and (min-width: 810px) {
  h1 {
    font-size: 7em;
  }
}

input{
  margin-left: 0px;
  padding-left: 0px;
  color: #222;
  font-size: 1rem;
}

.functions-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
  padding: 10px;
  font-size: 1rem;
  color: #222;
}

@media only screen and (min-width: 810px) {
  .functions-box {
    margin: 15px 0px;
  }
}

.functions-box select {
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 5px;
  color: #222;
  font-weight: bold;
  font-size: 1rem;
  border: none;
}

.filter-box {
  padding-right: 10px;
}

.input-box {
  background: none;
  margin-right: 10px;
  border: 0px;
  border-bottom: 1px solid;
}

.record-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-auto-rows: 100px;
  grid-gap: 10px;
	width: 100%;
  justify-content: center;
  grid-auto-flow: dense;
}

@media only screen and (min-width: 810px) {
  .record-list {
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 250px;
  }
}

.main-box {
  display: flex;
  justify-content: center;
	align-items: center;
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 810px) {
  .main-box {
    width: 250px;
    height: 250px;
  }
}

.main-box h2, .main-box h3, .main-box h4, .main-box p {
  margin: 0px;
}


@media only screen and (min-width: 810px) {
	.main-box:hover .img{
    opacity: 0.5;
	}

	.main-box:hover #record-info {
	  opacity: 1;
	}
}

.img {
  background-size: cover;
	display: block;
  margin: auto;
  width: 100%;
  transition: .25s ease;
}

#record-info {
  display: none;
}

@media only screen and (min-width: 810px) {
  #record-info {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
  	color: #f8f8f8;
    width: 250px;
    height: 250px;
    opacity: 0;
  	flex-direction: column;
  	justify-content: center;
    margin: 0px;
    /* margin-left: 0px; */
    transition: .25s;
    overflow: hidden;
  }
}

#record-info h2, #record-info h3 {
  padding-left: 5px;
  padding-right: 5px;
}

#record-info h3 {
  font-weight: 200;
}

#main-box-title {
  font-weight: bold;
}

/* The Modal (background) */
.modal {
	/* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */

	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.94); /* Black w/ opacity */
}

.modal-table {
	display: flex;
	justify-content: center;
  align-items: center;
  align-content: center;
}

.modal-cell {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 810px) {
  .modal-cell {
  	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* Modal Content (Image) */
.modal-content {
  margin-bottom: 5px;
  width: 80%;
}

@media only screen and (min-width: 810px) {
  .modal-content {
    width: 500px;
  }
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

.caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  max-height: 50vh;
  width: 80vw;
  max-width: 550px;
  overflow-y: auto;
}

@media only screen and (min-width: 810px) {
  .caption {
    margin-left: 10px;
    width: auto;
  }
}

.caption h2, .caption h3, .caption p {
  display: block;
  margin: 3px 0px 6px;
	text-align: left;
	color: #f8f8f8;
}

.caption h3 {
  font-weight: 400;
  font-size: 1.2rem;
}

.caption p {
  /* font-size: 1.2rem; */
}

/* Add Animation - Zoom in the Modal */
.modal-content, .caption {
	animation-name: zoom;
	animation-duration: 0.25s;
}

@keyframes zoom {
	from {opacity: 0;}
	to {opacity: 1;}
}
